- set_meta_tags title: 'Sign up'
.page-header.text-center
  h1
    | Sign up
= simple_form_for @user, url: users_sign_up_path do |f|
  .form--auth
    .form--auth__inputs
      = f.input :email, as: :email
      = f.input :password, as: :password
      = f.input :password_confirmation, as: :password
    .form--auth__actions
      = f.button :submit, 'Sign up'
