<% set_meta_tags title: 'Sign in' %>

<div class="page-header text-center">
  <h1>Sign in</h1>
</div>

<%= simple_form_for @user, url: users_sign_in_path do |form| %>
  <div class="form--auth">
    <div class="form--auth__inputs">
      <%= form.input :email, as: :email %>
      <%= form.input :password, as: :password %>
    </div>

    <div class="form--auth__actions">
      <%= form.button :submit, 'Sign in' %>
    </div>
  </div>
<% end %>
